<mat-nav-list class="sidenav-list">
  <a mat-list-item routerLink="" (click)="onToggleClose()">
    <mat-icon>input</mat-icon>
    <span>Home</span>
  </a>
  <a mat-list-item routerLink="/profile" (click)="onToggleClose()">
    <mat-icon>input</mat-icon>
    <span>Profile</span>
  </a>
  <a mat-list-item routerLink="/accomodation" (click)="onToggleClose()">
    <mat-icon>hotel</mat-icon>
    <span>Accomodation</span>
  </a>
  <a mat-list-item routerLink="/offers" (click)="onToggleClose()">
    <mat-icon>loyalty</mat-icon>
    <span>Offers</span>
  </a>
</mat-nav-list>